<div class="container">
  <form class="pane form-signin form-inline" method="post">
    <h2 class="form-signin-heading"></h2>
    <input name="email" type="text" class="input-block-level" placeholder="Usuario">
    <input name="password" type="password" class="input-block-level" placeholder="Password">
    <!--<label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>-->
    <button class="btn btn-large pull-right" type="submit">
      <i class="fa fa-lock"></i>
    </button>
    <label>&nbsp;</label>
  </form>
</div>